* {
  box-sizing: border-box;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

#root {
  padding: 10px;
}

.container {
  display: flex;
  height: 100%;
}

h2 {
  margin: 0;
  margin-bottom: 10px;
  font-family: sans-serif;
}

pre {
  margin: 0;
}

select {
  font-size: 16px;
  margin-left: 1em;
}

.input,
.output {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
}

.input textarea {
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 16px;
  line-height: 1.5;
}

.input textarea,
.output .out {
  border: 1px solid #000;
  width: 100%;
  flex: 1;
}

.output .out {
  background: #f5f2f0;
}

.refractor-marker {
  background: hsla(24, 20%, 50%, 0.08);
  background: linear-gradient(to right, hsla(24, 20%, 50%, 0.1) 70%, hsla(24, 20%, 50%, 0));
}

.bitwise {
  background: hsla(51, 82%, 58%, 0.5);
  background: linear-gradient(to right, hsla(51, 83%, 58%, 0.5) 70%, hsla(51, 83%, 58%, 0));
  position: relative;
}

.bitwise:hover:before {
  content: 'Eyyh, bitwise!';
  position: absolute;
  right: 0;
}
