{
  "extends": ["sanity", "sanity/typescript", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "modules": true,
    },
    "ecmaVersion": 9,
    "sourceType": "module",
  },
  "ignorePatterns": ["lib/**/"],
}
